:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fefeff;
}

.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.auth_input_div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 100px;
  margin: 0px;
  padding: 0px;
}

.auth_input {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 10px;

  width: 424px;
  height: 48px;
  border: 1px solid #b0b2b2;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.auth_input_description {
  width: 39px;
  height: 20px;
  margin-bottom: 5px;
  float: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-align: left;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* Black */

  color: #121212;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.auth_action_button {
  /* Frame 1242 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  box-sizing: border-box;
  width: 163px;
  height: 51px;
  position: relative;
  /* Primary */
  cursor: pointer;
  background: #3b39a2;
  border-radius: 32px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.auth_action_button_text {
  width: 99px;
  height: 27px;

  /* Body 1 semi */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;
  white-space: nowrap;
  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.auth_description {
  height: 27px;

  /* Body1 */
  margin-top: 100px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-self: center;
  text-align: center;
  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.auth_description_highlited {
  width: 131px;
  height: 27px;
  margin-left: 5px;
  /* Body 1 bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;

  display: flex;

  /* Primary */

  color: #3b39a2;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.header {
  width: 100%;
  height: 64px;
  margin: 0px;
  padding: 0px;
  /* Backgroud */
  display: flex;
  flex-direction: row;
  background: #fefeff;

  box-shadow: 0px 2px 6px rgba(59, 57, 162, 0.1);
}

.auth_header_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 100%;
  height: 64px;
  margin: 0px;
  padding: 0px;
  /* Backgroud */
  display: flex;
  flex-direction: row;
  margin-right: 4rem;
}

.header_button {
  width: 120px;
  height: 27px;

  /* Body 1 bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  cursor: pointer;

  /* Primary */

  color: #3b39a2;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.header_button > a {
  text-decoration: none;
  color: #3b39a2;
}
.job_card_apply_button_purple {
  display: flex;
  padding: 16px 16px;
  margin: 5px;
  gap: 10px;
  border-radius: 32px;
  background: var(--primary, #3b39a1);
  order: 3;
  color: var(--white, #fff);
  /* Body 1 semi */
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  cursor: pointer;
}

.job_card_apply_button_opposite {
  display: flex;
  border: 2px solid var(--primary, #3b39a1);
  padding: 16px 16px;
  cursor: pointer;

  margin: 5px;
  gap: 10px;
  border-radius: 32px;
  order: 3;
  color: var(--primary, #3B39A1);
/* Body 2 semi */

  /* Body 1 semi */
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
}

.filters {
  background: #efefef;
  width: 100%;
  height: 64px;
}
.back_to_offer_list_text {
  color: var(--primary, #3b39a1);
  /* Body 2 */
  font-size: 16px;
  font-family: Poppins;
}

.work_offers_and_map {
  display: flex;
  flex-direction: row;
  position: relative;
}
.work_offers {
  width: 50%;
}
.job_cards {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0px;
  gap: 12px;
  margin-left: 70px;
  width: 680px;
  left: 0px;
  top: 36px;
  height: 680px;
  overflow: scroll;
  border-radius: 24px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.job_card {
  /* job card */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 12px;
  min-width: 618px;
  width: 618px;
  height: auto;

  /* White */

  background: #ffffff;
  border: 1px solid rgba(59, 57, 162, 0.05);
  box-shadow: 0px 2px 5px rgba(59, 57, 162, 0.05);
  border-radius: 24px;

  /* Inside auto layout */
  cursor: pointer;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.job_card_without_hover {
  /* job card */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 12px;
  min-width: 618px;
  width: 618px;
  height: auto;

  /* White */

  background: #ffffff;
  border: 1px solid rgba(59, 57, 162, 0.05);
  box-shadow: 0px 2px 5px rgba(59, 57, 162, 0.05);
  border-radius: 24px;

  /* Inside auto layout */
  cursor: pointer;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.job_card:hover {
  box-shadow: 0px 2px 5px rgba(59, 57, 162, 0.2);
  background-color: #f1f1f1;
}

.auth_header_username {
  width: 129px;
  height: 24px;

  /* Body 2 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.job_description_title {
  color: #000;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 700;
}

.job_description_text {
  color: #000;
  display: flex;
  width: 570px;
  flex-direction: column;
  /* Body 2 */
  font-size: 16px;
  font-family: Poppins;
}

.job_description {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.job_card_title {
  /* title */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 222px;
  position: relative;
  width: 570px;
  height: 27px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.job_card_title_text {
  height: 27px;

  /* Body 1 semi */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  /* Black */

  color: #121212;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.job_card_title_money {
  /* 20 zł/h */

  width: 56px;
  height: 27px;
  right: 25px;
  /* Body 1 semi */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  /* Primary */
  position: absolute;
  color: #3b39a2;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.job_card_badge_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.job_card_badge {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;

  height: 32px;

  background: rgba(59, 57, 162, 0.05);
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.job_card_badge_text {
  height: 24px;

  /* Body 2 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #121212;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
